# Порт сервера
PORT=3001

# MongoDB рядок підключення
# Локальна MongoDB: mongodb://localhost:27017/scan3d
# MongoDB Atlas: mongodb+srv://<user>:<password>@cluster.mongodb.net/scan3d
MONGO_URI=mongodb://localhost:27017/scan3d

# Дозволений origin для CORS (адреса вашого фронтенду)
ALLOWED_ORIGIN=http://localhost:5500
